.poweredBy {
    display: none;
}

h1, h2, h3, h4, h5 {
    color:  #32127A; /* Persian Indigo */
}

p {
    margin: 5px 5px 9px;
}

img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

tt {
    background-color: transparent;
}

a.externalLink[href^=https] {
    background: url('../images/internet-web-browser.png') right center no-repeat;
}

